[include]
        path = ~/.gitconfig.local

[core]
        editor = emacsclient
        excludesfile = ~/.gitignore_global

[merge]
        ff = false

[pull]
        ff = only

[alias]
        st = status -sb
        cm = commit

        ## prettier log
        lg = log --graph --pretty=format:'%C(auto)%h%Creset %Cgreen(%cd)%Creset -%C(auto)%d%Creset %s' --abbrev-commit --date=relative

        ## Count commits per day
        ## via: https://stackoverflow.com/questions/35769003/git-commit-count-a-day/48329147
        log-daily =!sh -c 'git log --date=short --pretty=format:%ad | sort | uniq -c'

        ## Add only non-whitespace changes
        ## via: https://stackoverflow.com/questions/3515597/add-only-non-whitespace-changes
        addnw=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
